@import url(./../../styles/fonts.scss);
@import url(./../../styles/variables.scss);

.container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title {
	font-family: Roboto-Bold;
	font-size: 28px;
	color: var(--color-title);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.error {
		color: var(--color-error);
	}

	.input {
		width: 100%;
		padding: 16px 20px;
		border: none;
		border-radius: 10px;
		font-size: 18px;
		background-color: var(--color-gray-light);
		color: var(--color-gray-dark);

		&:focus {
			outline: none;
		}
	}
}
