// @import url(./../../styles/fonts.css);

.container {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.title {
		font-family: Gilroy-Semibold;
		font-size: 28px;
		color: #22262d;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 20px;

		& input {
			width: 100%;
			padding: 16px 20px;
			border: none;
			border-radius: 10px;
			font-size: 18px;
			background-color: #e5e5e5;
			color: #22262d;
		}

		& input:focus {
			outline: none;
		}

		// & button {
		// 	width: 100%;
		// 	padding: 20px;
		// 	border: none;
		// 	border-radius: 10px;
		// 	display: block;
		// 	font-weight: 500;
		// 	font-size: 16px;
		// 	color: #fff;
		// 	background-color: #618967;
		// 	cursor: pointer;
		// }

		.error {
			color: #f40;
		}
	}
}
