@import url(./../../styles/fonts.scss);
@import url(./../../styles/variables.scss);

.searchBox {
	display: flex;
	position: relative;
}

.searchField {
	width: 630px;
	padding: 40px 0 40px 30px;
	border: none;
	border-radius: 25px;
	font-family: Roboto-Light;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	background-color: #f6f9ff;

	&:focus {
		outline: none;
	}
}

.searchButton {
	width: 108px;
	height: 108px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 522px;
	background-color: var(--color-orange-light);
	cursor: pointer;
	transition: all 0.2s linear;

	&:hover {
		background-color: var(--color-orange-dark);
	}
}
