@import url(./../../../styles/fonts.scss);

.headerTop {
	height: 180px;
	width: 100%;
	max-width: 1720px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: #f6f9ff;
	box-shadow: 0 2px 4px #f6f9ff;
	z-index: 1;
}

.headerLeft,
.headerRight {
	display: flex;
	column-gap: 30px;
	align-items: center;
}

.phoneNumber {
	padding: 10px 0;
	display: flex;
	column-gap: 10px;
	font-family: Roboto-Bold;
	color: #606060;
}

.profile,
.favourites {
	padding: 10px 0;
	font-family: Roboto-Bold;
	color: #606060;
}
