@import url(./../../../styles/fonts.scss);
@import url(./../../../styles/variables.scss);

.header_top {
	height: 120px;
	width: 100%;
	max-width: 1920px;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: var(--color-background);
	box-shadow: 0 2px 4px var(--color-background);
	z-index: 1;
	transition: all 0.3s linear;
}

.header_left,
.header_right {
	display: flex;
	column-gap: 30px;
	align-items: center;
	transition: all 0.3s linear;
}

.phone_number {
	padding: 10px 0;
	display: flex;
	column-gap: 10px;
	font-family: Roboto-Bold;
	color: var(--color-navigation);
}

@media (max-width: 1760px) {
	.header_top {
		padding: 0 40px;
	}
}

@media (max-width: 820px) {
	.header_left,
	.header_right {
		column-gap: 20px;
	}

	.phone_number {
		display: none;
	}
}

@media (max-width: 480px) {
	.add_logo_styles {
		display: none;
	}
}
