.container {
	display: flex;
	gap: 20px;
}

.not_found {
	text-align: center;
	line-height: normal;
}

@media (max-width: 1600px) {
	.container {
		justify-content: center;
		flex-wrap: wrap;
	}

	.add_container_styles {
		padding: 80px 20px;
	}
}

@media (max-width: 460px) {
	.add_container_styles {
		padding: 20px 20px;
		gap: 20px;
	}
}
