@import url(./../../../styles/fonts.scss);
@import url(./../../../styles/variables.scss);

.order_container {
	width: 100%;
	max-width: 680px;
	padding: 20px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	gap: 20px;
	background-color: var(--color-background);
}

.order_title {
	align-self: center;
}

.order_product {
	padding: 20px;
	border: 1px solid #000;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.product_image {
	width: 100px;
	border-radius: 4px;
	display: block;
}

.content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.product_title {
	width: 100%;
	max-width: 280px;
	font-family: Roboto-Medium;
}

.price_box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.product_weight {
	width: 100%;
	max-width: 60px;
	text-align: center;
}

.product_price {
	width: 100%;
	max-width: 100px;
	text-align: center;
}

.order_total_sum {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Roboto-Bold;
}

.total_sum {
	width: 100px;
	text-align: center;
}

@media (max-width: 1300px) {
	.order_container {
		max-width: 100%;
		order: -1;
	}

	.product_title {
		max-width: 100%;
	}
}

@media (max-width: 700px) {
	.content {
		flex-direction: column;
	}

	.price_box {
		justify-content: start;
	}

	.product_price {
		width: auto;
	}
}

@media (max-width: 460px) {
	.order_product {
		flex-direction: column;
	}

	.product_image {
		width: 100%;
	}

	.product_title {
		text-align: center;
	}

	.price_box {
		justify-content: center;
	}
}
