:root {
	--color-content: #252525;
	--color-black: #000;
	--color-background: #9cb9f3;
	--color-button-bright: #feb302;
	--color-button-dim: #eac56e;
	--color-description: #363636;
	--color-navigation: #606060;
	--color-title: #343030;
	--color-white: #fff;
}
