:root {
	--color-black: #000;
	--color-background: #9cb9f3;
	--color-description: #363636;
	--color-main-content: #252525;
	--color-navigation: #606060;
	--color-orange-dark: #feb302;
	--color-orange-light: #eac56e;
	--color-title-page: #343030;
	--color-white: #fff;
}
