:root {
	--color-content: #252525;
	--color-brown: #68573f;
	--color-black: #000;
	--color-background: #9cb9f3;
	--color-button-bright: #feb302;
	--color-button-dim: #eac56e;
	--color-description: #363636;
	--color-error: #ca0606;
	--color-gray-dark: #22262d;
	--color-gray-light: #e5e5e5;
	--color-gray-medium: #b9b9b9;
	--color-navigation: #606060;
	--color-title: #343030;
	--color-white: #fff;
}
