// @import url(./../../styles/fonts.css);

.profile {
	margin-top: 100px;
	gap: 20px;

	@media (max-width: 882px) {
		& {
			margin-top: 134px;
		}
	}
}

.exit {
	padding: 30px;
	border-radius: 10px;
	display: flex;
	align-self: start;
	background-image: linear-gradient(90deg, #494544 0%, #504b4a 100%);
	text-align: center;

	.exitButton {
		padding: 16px 50px;
		border: none;
		border-radius: 10px;
		background-image: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
		font-family: Gilroy-Bold;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;

		&:active {
			box-shadow: 0 0 4px #618967;
		}
	}
}

.add_button_styles {
	width: 120px;
}
