@import url(./../../styles/fonts.scss);
@import url(./../../styles/variables.scss);

.card {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--color-background);
}

.image_box {
	border-radius: 24px;
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

.image {
	width: 100%;
	transition: all 0.2s linear;
}

.image:hover {
	transform: scale(1.08);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	gap: 20px;

	text-align: center;
}

.title {
	align-self: center;
	font-family: Roboto-Bold;
	font-size: 21px;
	line-height: 25px;
}

.description {
	height: 100%;
	min-height: 72px;
	font-size: 16px;
	line-height: 23px;
	color: var(--color-description);
}

.price_box {
	display: flex;
	justify-content: space-between;
}
