@import url(./../../../../styles/fonts.scss);
@import url(./../../../../styles/variables.scss);

.cartButton {
	width: 150px;
	height: 55px;
	padding: 8px 8px 8px 18px;
	border-radius: 14px;
	display: flex;
	column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-orange-light);

	&:hover {
		border-radius: 14px;
		background-color: var(--color-orange-dark);
	}
}

.title {
	font-family: Roboto-Bold;
	color: var(--color-white);
}

.count {
	width: 38px;
	height: 38px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto-Bold;
	color: var(--color-navigation);
	background-color: var(--color-white);
}
