@import url(./../../../../styles/fonts.scss);

.cartButton {
	width: 150px;
	height: 55px;
	padding: 8px 8px 8px 18px;
	border-radius: 14px;
	display: flex;
	column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(254, 179, 2, 0.45);

	&:hover {
		border-radius: 13.3679px;
		background-color: rgba(254, 179, 2, 0.75);
	}
}

.title {
	font-family: Roboto-Bold;
	color: #fff;
}

.count {
	width: 38px;
	height: 38px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto-Bold;
	color: #444;
	background-color: #fff;
}
