@import url(./../../../styles/fonts.scss);
@import url(./../../../styles/variables.scss);

.container {
	min-width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-family: Roboto-Bold;
	font-size: 22px;
}

.weight_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.add_button_styles {
	flex: 1;
}

.add_button_weight_styles {
	width: 55px;
}

@media (max-width: 420px) {
	.container {
		min-width: 100%;
	}
}
