@import url(./../../styles/fonts.scss);
@import url(./../../styles/variables.scss);

.footer {
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	gap: 40px;
	background-color: var(--color-background);
	box-shadow: 0 -2px 4px var(--color-background);
	transition: all 0.2s linear;
}

.footer_block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color-main-content);
}

.footer_logo {
	align-items: center;
}

.footer_link {
	font-family: Roboto-Bold;
	font-size: 27px;
	line-height: 32px;
	color: var(--color-black);
}

.stores_items {
	display: flex;
	align-items: center;
	gap: 10px;
}

.stores_items::before {
	content: url(./../../assets/images/icon_point.svg);
	display: block;
	height: 16px;
	width: 8px;
}

.add_socials_styles {
	width: 184px;
}

.add_navigation_styles {
	gap: 20px;
}

.add_navigation_styles a {
	position: relative;
	color: var(--color-main-content);

	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0%;
		bottom: -8px;
		background-color: var(--color-button-bright);
		transform: scaleX(0);
		transition: transform 0.3s ease-out;
	}

	&:hover:before {
		transform: scaleX(1);
	}
}

@media (max-width: 1540px) {
	.footer {
		padding: 40px 40px;
	}
}

@media (max-width: 1060px) {
	.footer {
		justify-content: space-around;
	}

	.footer_stores {
		display: none;
	}
}

@media (max-width: 810px) {
	.footer_navigation {
		display: none;
	}
}

@media (max-width: 620px) {
	.footer_contacts {
		display: none;
	}
}
