@import url(./../../../../styles/variables.scss);

.entrance {
	width: 60px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
}

.title {
	color: var(--color-navigation);
}

.icon {
	height: 24px;
	width: 24px;
}

.action_select {
	cursor: pointer;
}
