.App {
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.active-link {
	font-family: Roboto-Bold;
	color: #000 !important;
}
